h1 {
    font-family: Arial;
}
p {
    font-family: sans-serif;
}
blockquote {
    float: left;
    font-family: Georgia;
    font-style: italic;
    border-color: orange;
    border-style:groove;
    width: 200px;
}